<h1>Lenses</h1>
<p>All these lenses</p>
<% @lenses.each do |lense| %>
<p><strong> <%= lense.name %> </strong></p>
  <p>$<%= lense.price %> </p>
  <p> <strong> <%= lense.condition %> </strong></p>
<% end %>

<%= link_to "Add new", new_lense_path %>
