<h1>Lenses</h1>

<% form_tag lenses_path, :method => :get do %>
  <%=select_tag :condition, options_for_select(Lense::CONDITIONS.map{ |condition| [condition, condition]}), :onchange => "this.form.submit();" %>
  <%=submit_tag "Search" %>
<% end %>




