/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Hind:600|Open+Sans:300,400|Roboto+Condensed:400,700");
$base-font: 'Open Sans', sans-serif;
$header-font: 'Hind', sans-serif;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 18px;
$base-height: 1.2;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #404e5c;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;


$text-color: #404e5c;
$bg-color: #f4f4f6;
$headers-color: #225560;
$a-underline: rgba(232, 255, 112, 0.7);
$a-hover-underline: rgba(203, 208, 212, 0.8);
