<!-- <footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <p class="highlight">LensOff by Etienne, Jay, Marketa, and Nathan @LeWagon</p>
      </div>
    </div>
  </div>
</footer> -->

<!-- <footer class="">
<div class="row">
      <div class="col-xs-10 col-xs-offset-1 text-right margin-top-30">
      <div class="col-xs-2">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
        </div>
      <div class="col-xs-10 text-right">
        <p class="highlight">LensOff by Etienne, Jay, Marketa, and Nathan @LeWagon</p>
      </div>
      </div>
      </div>
</footer> -->

<div class="footer"><div class="col-xs-10 col-xs-offset-1 text-right margin-top-30">
      <div class="col-xs-2">
        <ul class="list-inline">
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
        </ul>
        </div>
      <div class="col-xs-10 text-right">
        <p class="highlight">LensOff by Etienne, Jay, Marketa, and Nathan @LeWagon</p>
      </div>
      </div>
      </div></div>
