<div hidden>
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;"> <symbol id="technology-4" viewBox="0 0 512 512">
    <title>technology-4</title>
    <g> <g> <path d="M320.831,44.934h-4.253c-5.77,0-10.449,4.678-10.449,10.449c0,5.769,4.679,10.449,10.449,10.449h4.253 c5.771,0,10.449-4.68,10.449-10.449C331.28,49.612,326.602,44.934,320.831,44.934z"/> </g> </g><g> <g> <path d="M285.865,44.934l-107.666-0.002c-5.77,0-10.449,4.679-10.449,10.449s4.679,10.449,10.449,10.449l107.666,0.002 c5.771,0,10.449-4.68,10.449-10.449C296.314,49.612,291.635,44.934,285.865,44.934z"/> </g> </g><g> <g> <path d="M287.893,362.044c-5.77,0-10.449,4.679-10.449,10.449v3.443c0,5.771,4.678,10.449,10.449,10.449 c5.77,0,10.449-4.679,10.449-10.449v-3.443C298.342,366.724,293.663,362.044,287.893,362.044z"/> </g> </g><g> <g> <path d="M224.107,362.044c-5.77,0-10.449,4.679-10.449,10.449v3.443c0,5.771,4.678,10.449,10.449,10.449 c5.771,0,10.449-4.679,10.449-10.449v-3.443C234.557,366.724,229.878,362.044,224.107,362.044z"/> </g> </g><g> <g> <path d="M351.677,362.044c-5.77,0-10.449,4.679-10.449,10.449v3.443c0,5.771,4.678,10.449,10.449,10.449 c5.77,0,10.449-4.679,10.449-10.449v-3.443C362.127,366.724,357.447,362.044,351.677,362.044z"/> </g> </g><g> <g> <path d="M160.323,362.044c-5.77,0-10.449,4.679-10.449,10.449v3.443c0,5.771,4.678,10.449,10.449,10.449 c5.771,0,10.449-4.679,10.449-10.449v-3.443C170.772,366.724,166.094,362.044,160.323,362.044z"/> </g> </g><g> <g> <path d="M439.908,57.834h-0.001c0-4.037-2.326-7.713-5.973-9.442c-3.65-1.729-7.967-1.202-11.091,1.353l-19.919,16.286 c-5.042-6.956-12.577-16.933-21.224-26.999C351.643,4.046,335.898,0,326.669,0h-141.34c-9.229,0-24.974,4.046-55.03,39.032 c-8.647,10.066-16.182,20.043-21.225,26.999L89.156,49.744c-3.124-2.557-7.442-3.083-11.091-1.353 c-3.647,1.729-5.973,5.405-5.973,9.442v81.399c0,2.38,0.806,4.589,2.166,6.359c-0.003,0-0.005,0.001-0.007,0.001l27.361,35.662 c0,0,0.134,88.54,0.363,89.4c-0.003,0.001-0.006,0.002-0.01,0.002c3.549,13.318,7.492,28.309,8.425,32.169v142.938 c0,2.572,0.933,4.922,2.473,6.742c-0.005,0.002-0.008,0.005-0.014,0.007l24.988,29.64l12.443,24.18 c1.791,3.48,5.377,5.668,9.29,5.668h192.855c0.001,0,0.001,0,0.001,0c3.915,0,7.503-2.174,9.293-5.656l12.433-24.178l25-29.671 c-0.002,0-0.004,0-0.006-0.001c1.536-1.818,2.464-4.165,2.464-6.731V302.826c0.933-3.86,4.876-18.852,8.425-32.169 c-0.004,0-0.007,0.001-0.011,0.001c0.23-0.86,0.364-89.403,0.364-89.403l27.361-35.662c-0.002-0.001-0.004-0.001-0.006-0.002 c1.359-1.769,2.165-3.978,2.165-6.358V57.834z M346.051,491.116l-180.104-0.015l-2.143-4.165h184.396L346.051,491.116z M360.412,466.038H151.584l-8.272-9.812l225.376-0.013L360.412,466.038z M380.712,435.315h-18.585v-31.36 c0-5.77-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449v31.36h-42.886v-31.36c0-5.77-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v31.36h-42.887v-31.36c0-5.77-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449 v31.36h-42.886v-31.36c0-5.77-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449v31.36h-18.585v-83.55h249.423 V435.315z M380.712,330.866H131.288v-18.699h249.423V330.866z M382.974,291.267H129.026c-0.805-3.115-1.897-7.276-3.374-12.853 h260.695C384.87,283.992,383.777,288.152,382.974,291.267z M389.489,257.516L389.489,257.516h-27.363v-23.76 c0-5.771-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.886v-23.76 c0-5.771-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.887v-23.76 c0-5.771-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.885v-23.76 c0-5.771-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-27.361v-69.358h266.977V257.516z M394.785,167.26 H117.215l-12.147-15.833c24.7,1.422,71.153,3.155,150.931,3.155s126.233-1.731,150.931-3.155L394.785,167.26z M419.009,129.67 h-0.001c-18.245,1.373-65.927,4.013-163.009,4.013c-97.091,0-144.771-2.638-163.009-4.013V79.874l11.555,9.447 c2.279,1.863,5.238,2.677,8.149,2.247c2.911-0.433,5.506-2.072,7.145-4.517c0.114-0.171,11.684-17.375,26.312-34.401 c25.962-30.22,37.19-31.751,39.176-31.751h141.34c1.981,0,13.18,1.525,39.06,31.614c14.645,17.025,26.316,34.368,26.431,34.54 c1.639,2.444,4.235,4.084,7.145,4.515c2.905,0.435,5.868-0.382,8.148-2.246l11.555-9.447V129.67z"/> </g> </g><g> <g> <path d="M287.893,191.847c-5.77,0-10.449,4.678-10.449,10.449v3.444c0,5.77,4.678,10.449,10.449,10.449 c5.77,0,10.449-4.679,10.449-10.449v-3.444C298.342,196.525,293.663,191.847,287.893,191.847z"/> </g> </g><g> <g> <path d="M224.107,191.847c-5.77,0-10.449,4.678-10.449,10.449v3.444c0,5.77,4.678,10.449,10.449,10.449 c5.771,0,10.449-4.679,10.449-10.449v-3.444C234.557,196.525,229.878,191.847,224.107,191.847z"/> </g> </g><g> <g> <path d="M351.677,191.847c-5.77,0-10.449,4.678-10.449,10.449v3.444c0,5.77,4.678,10.449,10.449,10.449 c5.77,0,10.449-4.679,10.449-10.449v-3.444C362.127,196.525,357.447,191.847,351.677,191.847z"/> </g> </g><g> <g> <path d="M160.323,191.847c-5.77,0-10.449,4.678-10.449,10.449v3.444c0,5.77,4.678,10.449,10.449,10.449 c5.771,0,10.449-4.679,10.449-10.449v-3.444C170.772,196.525,166.094,191.847,160.323,191.847z"/> </g> </g></symbol><symbol id="technology-3" viewBox="0 0 511.999 511.999"><title>technology-3</title><path style="fill:#0B3CA0;" d="M399.937,267.965c0,0-8.776,32.937-8.776,33.751H120.839c0-0.814-8.776-33.751-8.776-33.751"/><path style="fill:#1D3577;" d="M352.426,501.565l12.879-25.041h-0.002c0-0.013,0.002-0.025,0.002-0.038H146.693 c0,0.013,0.002,0.025,0.002,0.038h-0.002l12.879,25.026L352.426,501.565z"/><g> <path style="fill:#1D66DB;" d="M399.937,267.965c0-1.067,0-90.257,0-90.257H112.061v90.257H399.937z"/> <path style="fill:#1D66DB;" d="M120.839,445.764c0-3.59,0-144.047,0-144.047H391.16c0,0,0,140.457,0,144.047H120.839z"/> </g><path style="fill:#0B3CA0;" d="M391.16,445.764l-25.855,30.684h-0.002c0,0.014,0.002,0.026,0.002,0.039H146.693 c0-0.013,0.002-0.025,0.002-0.039h-0.002l-25.855-30.671L391.16,445.764z"/><path style="fill:#1D66DB;" d="M400.839,81.233c0,0-47.451-70.783-74.17-70.783c-21.611,0-119.728,0-141.34,0 c-26.718,0-74.169,70.783-74.169,70.783L82.541,57.834v81.399c0,0,40.151,4.9,173.458,4.9s173.458-4.9,173.458-4.9V57.834 L400.839,81.233z"/><polyline style="fill:#0B3CA0;" points="82.541,139.232 112.061,177.709 399.937,177.709 429.457,139.232 "/><path d="M320.83,65.831h-4.253c-5.77,0-10.449-4.679-10.449-10.449s4.679-10.449,10.449-10.449h4.253 c5.771,0,10.449,4.679,10.449,10.449S326.602,65.831,320.83,65.831z"/><path d="M285.864,65.831L285.864,65.831L178.198,65.83c-5.77,0-10.449-4.679-10.449-10.449s4.679-10.449,10.449-10.449l0,0 l107.666,0.001c5.77,0,10.449,4.679,10.449,10.449S291.635,65.831,285.864,65.831z"/><path d="M287.892,386.386c5.77,0,10.449-4.679,10.449-10.449v-3.443c0-5.77-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v3.443C277.443,381.708,282.121,386.386,287.892,386.386z"/><path d="M224.107,386.386c5.771,0,10.449-4.679,10.449-10.449v-3.443c0-5.77-4.678-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v3.443C213.657,381.708,218.336,386.386,224.107,386.386z"/><path d="M351.677,386.386c5.77,0,10.449-4.679,10.449-10.449v-3.443c0-5.77-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v3.443C341.227,381.708,345.906,386.386,351.677,386.386z"/><path d="M160.322,386.386c5.771,0,10.449-4.679,10.449-10.449v-3.443c0-5.77-4.678-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v3.443C149.873,381.708,154.551,386.386,160.322,386.386z"/><path d="M439.906,57.834c0-4.037-2.326-7.713-5.973-9.442c-3.65-1.729-7.967-1.202-11.091,1.353l-19.919,16.286 c-5.042-6.956-12.577-16.933-21.224-26.999C351.642,4.046,335.897,0,326.668,0h-141.34c-9.229,0-24.974,4.046-55.03,39.032 c-8.647,10.066-16.182,20.043-21.225,26.999L89.155,49.744c-3.124-2.557-7.442-3.083-11.091-1.353 c-3.647,1.729-5.973,5.405-5.973,9.442v81.399c0,2.38,0.806,4.589,2.166,6.359c-0.003,0-0.005,0.001-0.007,0.001l27.361,35.662 v86.71c0,0.932,0.134,1.83,0.363,2.689c-0.003,0.001-0.006,0.002-0.01,0.002c3.549,13.318,7.492,28.309,8.425,32.169v142.938 c0,2.572,0.933,4.922,2.473,6.742c-0.005,0.002-0.008,0.005-0.014,0.007l24.988,29.64l12.443,24.18 c1.791,3.48,5.377,5.668,9.29,5.668h192.855c0.001,0,0.001,0,0.001,0c3.915,0,7.503-2.174,9.293-5.656l12.433-24.178l25-29.671 c-0.002,0-0.004,0-0.006-0.001c1.536-1.818,2.464-4.165,2.464-6.731V302.826c0.933-3.86,4.876-18.852,8.425-32.169 c-0.004,0-0.007,0.001-0.012,0.001c0.23-0.86,0.364-1.76,0.364-2.692v-86.71l27.361-35.662c-0.002-0.001-0.004-0.001-0.006-0.002 c1.359-1.769,2.165-3.978,2.165-6.358v-81.4H439.906z M346.051,491.116l-180.104-0.015l-2.143-4.165H348.2L346.051,491.116z M360.411,466.038H151.584l-8.272-9.812l225.376-0.013L360.411,466.038z M380.711,435.315h-18.585v-31.36 c0-5.77-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449v31.36h-42.886v-31.36c0-5.77-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.679-10.449,10.449v31.36h-42.887v-31.36c0-5.77-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449 v31.36h-42.886v-31.36c0-5.77-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.679-10.449,10.449v31.36h-18.585v-83.55h249.423 L380.711,435.315L380.711,435.315z M380.711,330.866H131.288v-18.699h249.423L380.711,330.866L380.711,330.866z M382.973,291.267 H129.026c-0.805-3.115-1.897-7.276-3.374-12.853h260.695C384.87,283.992,383.777,288.152,382.973,291.267z M389.487,257.516h-27.362 v-23.76c0-5.771-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.886v-23.76 c0-5.771-4.679-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.887v-23.76c0-5.771-4.678-10.449-10.449-10.449 c-5.77,0-10.449,4.678-10.449,10.449v23.76h-42.885v-23.76c0-5.771-4.678-10.449-10.449-10.449c-5.77,0-10.449,4.678-10.449,10.449 v23.76h-27.361v-69.358h266.977v69.358H389.487z M394.784,167.26H117.215l-12.147-15.833c24.7,1.422,71.153,3.155,150.931,3.155 s126.232-1.731,150.931-3.155L394.784,167.26z M419.008,129.67c-18.245,1.373-65.927,4.013-163.009,4.013 c-97.091,0-144.771-2.638-163.009-4.013V79.874l11.555,9.447c2.279,1.863,5.238,2.677,8.149,2.247 c2.911-0.433,5.506-2.072,7.145-4.517c0.114-0.171,11.684-17.375,26.312-34.401c25.962-30.22,37.19-31.751,39.176-31.751h141.34 c1.981,0,13.18,1.525,39.06,31.614c14.645,17.025,26.316,34.368,26.431,34.54c1.639,2.444,4.235,4.084,7.145,4.515 c2.905,0.435,5.868-0.382,8.148-2.246l11.555-9.447v49.795H419.008z"/><path d="M287.892,216.189c5.77,0,10.449-4.679,10.449-10.449v-3.444c0-5.771-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.678-10.449,10.449v3.444C277.443,211.51,282.121,216.189,287.892,216.189z"/><path d="M224.107,216.189c5.771,0,10.449-4.679,10.449-10.449v-3.444c0-5.771-4.678-10.449-10.449-10.449 c-5.77,0-10.449,4.678-10.449,10.449v3.444C213.657,211.51,218.336,216.189,224.107,216.189z"/><path d="M351.677,216.189c5.77,0,10.449-4.679,10.449-10.449v-3.444c0-5.771-4.679-10.449-10.449-10.449 c-5.77,0-10.449,4.678-10.449,10.449v3.444C341.227,211.51,345.906,216.189,351.677,216.189z"/><path d="M160.322,216.189c5.771,0,10.449-4.679,10.449-10.449v-3.444c0-5.771-4.678-10.449-10.449-10.449 c-5.77,0-10.449,4.678-10.449,10.449v3.444C149.873,211.51,154.551,216.189,160.322,216.189z"/></symbol><symbol id="technology-2" viewBox="0 0 463 463"><title>technology-2</title><path d="M455.5,21.677c-4.142,0-7.5,3.358-7.5,7.5v6.952h-13.903v-6.952c0-4.142-3.358-7.5-7.5-7.5H310.581 c-5.622,0-11.25,1.329-16.279,3.843l-6.766,3.383H180.919c-5.379,0-10.08,2.908-12.65,7.226h-37.931 c-5.96,0-11.093,3.565-13.408,8.669l-33.169,3.686c-14.797,1.645-25.955,14.111-25.955,28.999v16.453H43.629 c-8.027,0-14.563,6.459-14.712,14.452H14.726C6.606,108.387,0,114.993,0,123.113v216.774c0,8.12,6.606,14.726,14.726,14.726h14.192 c0.148,7.993,6.685,14.452,14.712,14.452h14.178v16.453c0,14.888,11.158,27.355,25.955,28.999l33.169,3.686 c2.315,5.104,7.448,8.669,13.408,8.669h37.931c2.57,4.318,7.271,7.226,12.65,7.226h106.616l6.767,3.383 c5.028,2.514,10.657,3.843,16.279,3.843h116.016c4.05,0,7.341-3.212,7.486-7.226h13.931c0.146,4.014,3.437,7.226,7.486,7.226 c4.142,0,7.5-3.358,7.5-7.5V29.177C463,25.036,459.643,21.677,455.5,21.677z M448,51.13v367.968h-13.903V51.13H448z M419.097,426.323h-13.903V36.677h13.903V426.323z M390.194,123.387v13.903h-57.258v-13.903H390.194z M332.936,108.387V94.484 h57.258v13.903H332.936z M390.194,152.291v13.903h-57.258v-13.903H390.194z M390.194,181.194v13.903h-57.258v-13.903H390.194z M390.194,210.097v13.903h-57.258v-13.903H390.194z M390.194,239.001v13.903h-57.258v-13.903H390.194z M390.194,267.904v13.903 h-57.258v-13.903H390.194z M390.194,296.807v13.903h-57.258v-13.903H390.194z M390.194,325.71v13.903h-57.258V325.71H390.194z M390.194,354.613v13.903h-57.258v-13.903H390.194z M390.194,79.484h-57.258V65.581h57.258V79.484z M332.936,383.517h57.258v13.903 h-57.258V383.517z M390.194,50.581h-57.258V36.677h57.258V50.581z M332.936,412.42h57.258v13.904h-57.258V412.42z M217.323,43.903 h28.355v107.839h-28.355V43.903z M225.135,224.548c-0.732,2.187-1.135,4.522-1.135,6.952c0,2.429,0.403,4.765,1.135,6.951h-43.941 v-13.903H225.135z M252.903,231.501c0,3.833-3.119,6.951-6.952,6.951S239,235.334,239,231.501c0-3.833,3.119-6.952,6.952-6.952 S252.903,227.667,252.903,231.501z M252.678,253.452c-1.252,7.866-8.063,13.903-16.275,13.903h-38.709 c-8.213,0-15.023-6.037-16.275-13.903H252.678z M181.419,209.548c1.252-7.866,8.063-13.903,16.275-13.903h38.709 c8.213,0,15.023,6.038,16.275,13.903H181.419z M43.903,238.452v-13.903h13.903v13.903H43.903z M57.807,253.452v13.903H43.903 v-13.903H57.807z M43.903,209.548v-13.903h13.903v13.903H43.903z M43.903,180.645v-13.903h13.903v13.903H43.903z M43.903,282.355 h13.903v13.903H43.903V282.355z M57.807,151.742H43.903v-13.903h13.903V151.742z M43.903,311.258h13.903v13.903H43.903V311.258z M43.903,108.936h13.903v13.903H43.903V108.936z M15,123.387h13.903v216.226H15V123.387z M43.903,354.065v-13.903h13.903v13.903 H43.903z M72.807,385.518V77.483c0-7.234,5.422-13.292,12.611-14.091l30.195-3.355v342.926l-30.195-3.355 C78.229,398.809,72.807,392.752,72.807,385.518z M130.613,411.45c0.001-0.038,0-0.075,0-0.113V51.663c0-0.038,0.001-0.075,0-0.113 V51.13h35.581v161.016v6.903v24.903v6.903v161.017h-35.581V411.45z M181.194,277.674c4.802,2.965,10.454,4.681,16.5,4.681h38.709 c17.369,0,31.5-14.131,31.5-31.5v-6.903v-24.903v-6.903c0-17.369-14.131-31.5-31.5-31.5h-38.709c-6.046,0-11.698,1.716-16.5,4.682 V43.903h21.129v108.113c0,8.12,6.606,14.726,14.726,14.726h28.903c8.12,0,14.726-6.606,14.726-14.726V43.903h21.129v375.194H181.194 V277.674z M301.01,424.064l-4.203-2.101V41.038l4.203-2.101c2.957-1.479,6.267-2.26,9.572-2.26h7.355v389.646h-7.355 C307.276,426.323,303.966,425.542,301.01,424.064z"/></symbol><symbol id="technology" viewBox="0 0 464 464"><title>technology</title><circle style="fill:#464655;" cx="232" cy="232" r="197"/><path style="fill:#707487;" d="M232,0C103.87,0,0,103.87,0,232s103.87,232,232,232s232-103.87,232-232S360.13,0,232,0z M232,424 c-106.039,0-192-85.962-192-192c0-106.039,85.961-192,192-192s192,85.961,192,192C424,338.038,338.039,424,232,424z"/><circle style="fill:#5B5D6E;" cx="232" cy="232" r="144"/><path style="fill:#464655;" d="M232,352c-66.172,0-120-53.828-120-120s53.828-120,120-120s120,53.828,120,120S298.172,352,232,352z M232,128c-57.344,0-104,46.656-104,104s46.656,104,104,104s104-46.656,104-104S289.344,128,232,128z"/><circle style="fill:#D7DEED;" cx="232" cy="232" r="104"/><circle style="fill:#C7CFE2;" cx="232" cy="232" r="88"/><circle style="fill:#959CB3;" cx="232" cy="232" r="72"/><circle style="fill:#AFB9D2;" cx="232" cy="232" r="56"/><circle style="fill:#82889D;" cx="232" cy="232" r="40"/><g> <circle style="fill:#FFFFFF;" cx="244" cy="220" r="12"/> <circle style="fill:#FFFFFF;" cx="280" cy="184" r="20"/> </g><circle style="fill:#D7DEED;" cx="184" cy="280" r="16"/></symbol><symbol id="technology-1" viewBox="0 0 512 512"><title>technology-1</title><path style="fill:#1E0478;" d="M512,147.396v273.147c0,18.227-14.833,33.061-33.061,33.061H33.061 C14.833,453.604,0,438.771,0,420.543V147.396c0-18.227,14.833-33.061,33.061-33.061h14.304v-14.69 c0-11.858,9.643-21.489,21.489-21.489h31.716c11.847,0,21.489,9.632,21.489,21.489v14.69h45.811l13.764-37.502 c4.044-11.02,14.657-18.437,26.415-18.437h95.898c11.759,0,22.371,7.417,26.415,18.437l13.764,37.502h134.811 C497.167,114.335,512,129.168,512,147.396z M489.96,420.543v-28.3h-43.662c-6.083,0-11.02-4.926-11.02-11.02V186.716 c0-6.083,4.937-11.02,11.02-11.02h43.662v-28.3c0-6.072-4.948-11.02-11.02-11.02H336.514c-0.022,0-0.044,0-0.077,0 c-0.022,0-0.055,0-0.077,0H33.061c-6.072,0-11.02,4.948-11.02,11.02v28.3h43.662c6.083,0,11.02,4.937,11.02,11.02v194.507 c0,6.094-4.937,11.02-11.02,11.02H22.04v28.3c0,6.083,4.948,11.02,11.02,11.02h445.879 C485.011,431.563,489.96,426.626,489.96,420.543z M489.96,370.203V197.736h-32.642v172.467H489.96z M320.656,114.335L309.68,84.437 c-0.882-2.391-3.185-4-5.731-4h-95.898c-2.546,0-4.849,1.609-5.731,4l-10.976,29.898H320.656z M101.122,114.335v-14.69 c0-0.309-0.242-0.551-0.551-0.551H68.854c-0.309,0-0.551,0.242-0.551,0.551v14.69H101.122z M54.682,370.203V197.736H22.04v172.467 H54.682z"/><path style="fill:#9B8CCC;" d="M489.96,392.243v28.3c0,6.083-4.948,11.02-11.02,11.02H33.061c-6.072,0-11.02-4.937-11.02-11.02 v-28.3h43.662c6.083,0,11.02-4.926,11.02-11.02V186.716c0-6.083-4.937-11.02-11.02-11.02H22.04v-28.3 c0-6.072,4.948-11.02,11.02-11.02H336.36c0.022,0,0.055,0,0.077,0c0.033,0,0.055,0,0.077,0h142.425c6.072,0,11.02,4.948,11.02,11.02 v28.3h-43.662c-6.083,0-11.02,4.937-11.02,11.02v194.507c0,6.094,4.937,11.02,11.02,11.02H489.96z M387.504,283.969 c0-72.513-58.991-131.504-131.504-131.504s-131.504,58.991-131.504,131.504S183.487,415.474,256,415.474 S387.504,356.483,387.504,283.969z"/><rect x="457.318" y="197.736" style="fill:#94E7EF;" width="32.642" height="172.467"/><path style="fill:#1E0478;" d="M256,152.465c72.513,0,131.504,58.991,131.504,131.504S328.513,415.474,256,415.474 s-131.504-58.991-131.504-131.504S183.487,152.465,256,152.465z M366.566,283.969c0-60.964-49.602-110.566-110.566-110.566 s-110.566,49.602-110.566,110.566c0,60.975,49.602,110.566,110.566,110.566S366.566,344.944,366.566,283.969z"/><path style="fill:#94E7EF;" d="M256,173.403c60.964,0,110.566,49.602,110.566,110.566c0,60.975-49.602,110.566-110.566,110.566 s-110.566-49.591-110.566-110.566C145.434,223.005,195.036,173.403,256,173.403z M338.057,283.969 c0-45.238-36.808-82.057-82.057-82.057s-82.057,36.819-82.057,82.057c0,45.249,36.808,82.057,82.057,82.057 S338.057,329.218,338.057,283.969z"/><path style="fill:#FFFFFF;" d="M309.68,84.437l10.976,29.898H191.344l10.976-29.898c0.882-2.391,3.185-4,5.731-4h95.898 C306.495,80.437,308.798,82.046,309.68,84.437z"/><path style="fill:#1E0478;" d="M256,201.913c45.249,0,82.057,36.819,82.057,82.057c0,45.249-36.808,82.057-82.057,82.057 s-82.057-36.808-82.057-82.057C173.943,238.731,210.751,201.913,256,201.913z M318.22,283.969c0-34.306-27.914-62.22-62.22-62.22 s-62.22,27.914-62.22,62.22s27.914,62.22,62.22,62.22C290.306,346.19,318.22,318.275,318.22,283.969z"/><path style="fill:#FFFFFF;" d="M256,221.749c34.306,0,62.22,27.914,62.22,62.22s-27.914,62.22-62.22,62.22 s-62.22-27.914-62.22-62.22S221.694,221.749,256,221.749z M265.918,253.344c0-5.477-4.441-9.918-9.918-9.918 c-22.36,0-40.543,18.194-40.543,40.543c0,5.477,4.441,9.918,9.918,9.918c5.477,0,9.918-4.441,9.918-9.918 c0-11.417,9.29-20.707,20.707-20.707C261.477,263.262,265.918,258.821,265.918,253.344z"/><path style="fill:#1E0478;" d="M256,243.426c5.477,0,9.918,4.441,9.918,9.918c0,5.477-4.441,9.918-9.918,9.918 c-11.417,0-20.707,9.29-20.707,20.707c0,5.477-4.441,9.918-9.918,9.918c-5.477,0-9.918-4.441-9.918-9.918 C215.457,261.62,233.64,243.426,256,243.426z"/><g> <path style="fill:#94E7EF;" d="M101.122,99.645v14.69H68.303v-14.69c0-0.309,0.242-0.551,0.551-0.551h31.716 C100.879,99.094,101.122,99.336,101.122,99.645z"/> <rect x="22.04" y="197.736" style="fill:#94E7EF;" width="32.642" height="172.467"/> </g></symbol></svg>
    </symbol>
    <svg version="1.1" id="firework" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<polygon style="fill:#F7B239;" points="306.786,226.683 285.318,255.998 306.786,285.314 270.655,281.39 256.003,314.64
  241.34,281.39 205.22,285.314 226.677,255.998 205.22,226.683 241.34,230.607 256.003,197.356 270.655,230.607 "/>
<g>
  <path style="fill:#333333;" d="M257.01,170.924c-0.031,0-0.062,0-0.094,0c-4.697-0.051-8.463-3.9-8.412-8.597l1.669-153.914
    c0.05-4.696,3.861-8.465,8.597-8.412c4.697,0.051,8.463,3.9,8.412,8.597l-1.669,153.914
    C265.463,167.177,261.664,170.924,257.01,170.924z"/>
  <path style="fill:#333333;" d="M253.322,511.999c-0.031,0-0.062,0-0.094,0c-4.697-0.051-8.463-3.9-8.412-8.597l1.669-153.901
    c0.05-4.696,3.868-8.457,8.597-8.412c4.697,0.051,8.463,3.9,8.412,8.597l-1.669,153.901
    C261.775,508.251,257.976,511.999,253.322,511.999z"/>
  <path style="fill:#333333;" d="M322.885,199.047c-2.208,0-4.414-0.854-6.08-2.556c-3.285-3.357-3.228-8.742,0.13-12.028
    L426.95,76.81c3.358-3.285,8.742-3.228,12.028,0.13c3.285,3.357,3.228,8.742-0.13,12.028L328.833,196.622
    C327.179,198.24,325.031,199.047,322.885,199.047z"/>
  <path style="fill:#333333;" d="M79.101,437.616c-2.208,0-4.414-0.854-6.08-2.556c-3.285-3.357-3.228-8.742,0.13-12.028
    l110.004-107.644c3.358-3.285,8.742-3.228,12.028,0.13c3.285,3.357,3.228,8.742-0.13,12.028L85.049,435.19
    C83.393,436.808,81.247,437.616,79.101,437.616z"/>
  <path style="fill:#333333;" d="M503.495,267.183c-0.031,0-0.062,0-0.094,0l-153.914-1.669c-4.697-0.051-8.463-3.9-8.412-8.597
    c0.05-4.665,3.849-8.412,8.503-8.412c0.031,0,0.062,0,0.094,0l153.914,1.669c4.697,0.051,8.463,3.9,8.412,8.597
    C511.948,263.435,508.15,267.183,503.495,267.183z"/>
  <path style="fill:#333333;" d="M162.407,263.496c-0.031,0-0.062,0-0.094,0l-153.9-1.67c-4.697-0.051-8.463-3.9-8.412-8.597
    c0.05-4.665,3.849-8.412,8.503-8.412c0.031,0,0.062,0,0.094,0l153.9,1.669c4.697,0.051,8.463,3.9,8.412,8.597
    C170.861,259.747,167.062,263.496,162.407,263.496z"/>
  <path style="fill:#333333;" d="M429.111,441.403c-2.208,0-4.414-0.854-6.08-2.556L315.378,328.834
    c-3.285-3.357-3.228-8.742,0.13-12.028c3.358-3.284,8.742-3.228,12.028,0.13L435.189,426.95c3.285,3.357,3.228,8.742-0.13,12.028
    C433.404,440.596,431.256,441.403,429.111,441.403z"/>
  <path style="fill:#333333;" d="M190.533,197.61c-2.208,0-4.414-0.854-6.08-2.556L76.81,85.049
    c-3.285-3.357-3.228-8.742,0.13-12.028c3.358-3.284,8.741-3.228,12.028,0.13l107.643,110.004c3.285,3.357,3.228,8.742-0.13,12.028
    C194.827,196.803,192.679,197.61,190.533,197.61z"/>
  <path style="fill:#333333;" d="M205.698,139.245c-3.372,0-6.563-2.017-7.895-5.338l-16.928-42.154
    c-1.75-4.359,0.364-9.312,4.723-11.063c4.359-1.75,9.312,0.364,11.063,4.723l16.928,42.154c1.75,4.359-0.364,9.312-4.723,11.063
    C207.826,139.047,206.752,139.245,205.698,139.245z"/>
  <path style="fill:#333333;" d="M323.234,431.923c-3.373,0-6.564-2.019-7.896-5.34l-16.912-42.146
    c-1.749-4.359,0.366-9.312,4.726-11.06c4.358-1.752,9.311,0.366,11.06,4.726l16.912,42.146c1.749,4.359-0.366,9.312-4.726,11.06
    C325.361,431.725,324.289,431.923,323.234,431.923z"/>
  <path style="fill:#333333;" d="M308.999,140.36c-1.114,0-2.247-0.22-3.336-0.685c-4.32-1.844-6.327-6.842-4.482-11.162
    l17.838-41.774c1.845-4.32,6.841-6.326,11.162-4.482c4.32,1.844,6.327,6.842,4.482,11.162l-17.838,41.774
    C315.446,138.423,312.302,140.36,308.999,140.36z"/>
  <path style="fill:#333333;" d="M185.155,430.428c-1.115,0-2.247-0.22-3.336-0.685c-4.32-1.845-6.327-6.843-4.482-11.162
    l17.838-41.766c1.845-4.32,6.843-6.326,11.162-4.482c4.32,1.845,6.327,6.843,4.482,11.162l-17.838,41.766
    C191.601,428.491,188.459,430.428,185.155,430.428z"/>
  <path style="fill:#333333;" d="M381.267,214.195c-3.372,0-6.563-2.019-7.895-5.339c-1.75-4.359,0.365-9.312,4.724-11.062
    l43.032-17.275c4.355-1.75,9.312,0.365,11.062,4.724c1.75,4.359-0.365,9.312-4.724,11.062l-43.032,17.275
    C383.395,213.997,382.323,214.195,381.267,214.195z"/>
  <path style="fill:#333333;" d="M88.586,331.739c-3.372,0-6.563-2.017-7.895-5.338c-1.75-4.359,0.364-9.312,4.723-11.063
    l42.141-16.922c4.362-1.75,9.312,0.364,11.063,4.723c1.75,4.359-0.364,9.312-4.723,11.063l-42.141,16.922
    C90.714,331.542,89.641,331.739,88.586,331.739z"/>
  <path style="fill:#333333;" d="M421.917,335.348c-1.115,0-2.248-0.22-3.337-0.686l-41.771-17.847
    c-4.32-1.845-6.326-6.844-4.48-11.164c1.846-4.32,6.843-6.326,11.164-4.48l41.771,17.847c4.32,1.845,6.326,6.844,4.48,11.164
    C428.362,333.411,425.22,335.348,421.917,335.348z"/>
  <path style="fill:#333333;" d="M131.836,211.498c-1.114,0-2.247-0.22-3.336-0.685l-41.761-17.832
    c-4.32-1.844-6.327-6.842-4.482-11.162c1.845-4.321,6.842-6.327,11.162-4.482l41.762,17.832c4.32,1.844,6.327,6.842,4.482,11.162
    C138.283,209.561,135.139,211.498,131.836,211.498z"/>
  <path style="fill:#333333;" d="M256,323.142c-3.37,0-6.423-1.99-7.782-5.074l-12.148-27.55l-29.932,3.255
    c-3.353,0.363-6.6-1.284-8.285-4.203c-1.685-2.919-1.488-6.557,0.502-9.277l17.785-24.295l-17.785-24.295
    c-1.99-2.719-2.188-6.358-0.502-9.277c1.685-2.919,4.933-4.57,8.285-4.203l29.933,3.255l12.148-27.55
    c1.36-3.083,4.413-5.074,7.782-5.074l0,0c3.37,0,6.423,1.99,7.782,5.074l12.147,27.55l29.933-3.255
    c3.349-0.367,6.599,1.284,8.285,4.203c1.685,2.919,1.488,6.557-0.502,9.277l-17.785,24.295l17.785,24.295
    c1.99,2.719,2.188,6.358,0.502,9.277c-1.685,2.919-4.93,4.567-8.285,4.203l-29.932-3.255l-12.147,27.55
    C262.423,321.152,259.37,323.142,256,323.142z M241.343,272.884c3.34,0,6.409,1.966,7.778,5.075l6.877,15.597l6.876-15.597
    c1.496-3.393,5.018-5.429,8.703-5.024l16.945,1.843l-10.068-13.754c-2.19-2.992-2.19-7.057,0-10.048l10.068-13.754l-16.946,1.843
    c-3.681,0.4-7.206-1.632-8.702-5.024l-6.876-15.597l-6.877,15.597c-1.496,3.393-5.022,5.424-8.702,5.024l-16.946-1.843
    l10.068,13.754c2.19,2.992,2.19,7.057,0,10.048l-10.068,13.754l16.945-1.843C240.73,272.901,241.038,272.884,241.343,272.884z"/>
  <circle style="fill:#333333;" cx="483.832" cy="163.768" r="8.505"/>
  <circle style="fill:#333333;" cx="351.341" cy="28.373" r="8.505"/>
  <circle style="fill:#333333;" cx="161.92" cy="26.321" r="8.505"/>
  <circle style="fill:#333333;" cx="26.527" cy="158.812" r="8.505"/>
  <circle style="fill:#333333;" cx="24.475" cy="348.233" r="8.505"/>
  <circle style="fill:#333333;" cx="156.964" cy="483.628" r="8.505"/>
  <circle style="fill:#333333;" cx="346.385" cy="485.68" r="8.505"/>
  <circle style="fill:#333333;" cx="481.779" cy="353.189" r="8.505"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

<svg version="1.1" id="camera" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
  <g>
    <path d="M255.999,152.46c-72.513,0-131.508,58.995-131.508,131.509s58.995,131.508,131.508,131.508
      s131.508-58.994,131.508-131.508S328.514,152.46,255.999,152.46z M255.999,394.538c-60.968,0-110.57-49.601-110.57-110.57
      c0-60.969,49.601-110.571,110.57-110.571c60.969,0,110.57,49.602,110.57,110.571C366.569,344.937,316.968,394.538,255.999,394.538
      z"/>
  </g>
</g>
<g>
  <g>
    <path d="M255.999,201.914c-45.245,0-82.055,36.809-82.055,82.055c0,45.245,36.81,82.053,82.055,82.053
      s82.055-36.809,82.055-82.053S301.244,201.914,255.999,201.914z M255.999,346.186c-34.307,0-62.218-27.91-62.218-62.217
      c0-34.307,27.911-62.218,62.218-62.218s62.218,27.911,62.218,62.218C318.218,318.276,290.307,346.186,255.999,346.186z"/>
  </g>
</g>
<g>
  <g>
    <path d="M478.939,114.334H344.133l-13.768-37.5c-4.049-11.029-14.662-18.438-26.411-18.438h-95.908
      c-11.749,0-22.362,7.41-26.411,18.438l-13.769,37.499H122.06V99.637c0-11.849-9.639-21.49-21.49-21.49h-31.72
      c-11.849,0-21.49,9.641-21.49,21.49v14.697H33.061C14.831,114.334,0,129.165,0,147.395v273.148
      c0,18.23,14.831,33.061,33.061,33.061h445.878c18.23,0,33.061-14.831,33.061-33.061V147.395
      C512,129.165,497.169,114.334,478.939,114.334z M202.324,84.431c0.877-2.389,3.176-3.994,5.721-3.994h95.908
      c2.545,0,4.844,1.605,5.721,3.994l10.979,29.903H191.345L202.324,84.431z M68.3,99.637c0-0.303,0.247-0.551,0.551-0.551h31.72
      c0.304,0,0.551,0.248,0.551,0.551v14.697H68.3V99.637z M22.041,197.733h32.643v172.47H22.041V197.733z M489.958,420.543
      c0.001,6.077-4.943,11.02-11.019,11.02H33.061c-6.077,0-11.02-4.944-11.02-11.02v-28.299h43.663c6.086,0,11.02-4.935,11.02-11.02
      V186.713c0-6.085-4.934-11.02-11.02-11.02H22.041v-28.299c0-6.077,4.944-11.02,11.02-11.02h303.296
      c0.029,0,0.056,0.003,0.084,0.003c0.024,0,0.05-0.003,0.074-0.003h142.424c6.077,0,11.02,4.944,11.02,11.02v28.299h-43.663
      c-6.087,0-11.02,4.935-11.02,11.02v194.511c0,6.085,4.934,11.02,11.02,11.02h43.663V420.543z M489.959,370.203h-32.643v-172.47
      h32.643V370.203z"/>
  </g>
</g>
<g>
  <g>
    <path d="M255.999,243.425c-22.356,0-40.544,18.188-40.544,40.544c0,5.478,4.44,9.918,9.918,9.918s9.918-4.44,9.918-9.918
      c0-11.418,9.289-20.707,20.707-20.707c5.478,0,9.918-4.44,9.918-9.918S261.478,243.425,255.999,243.425z"/>
  </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
<svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 490 490" style="enable-background:new 0 0 490 490;" xml:space="preserve">
<g>
  <g>
    <path d="M0,167.85v216.2c0,33,26.8,59.8,59.8,59.8h370.4c33,0,59.8-26.8,59.8-59.8v-216.2c0-31.4-25.5-56.9-56.9-56.9h-79.6
      l-1.9-8.3c-7.7-33.3-37-56.5-71.2-56.5h-70.9c-34.1,0-63.4,23.2-71.2,56.5l-1.9,8.3H56.9C25.5,110.95,0,136.55,0,167.85z
       M146.2,135.45c5.7,0,10.6-3.9,11.9-9.5l4.1-17.8c5.2-22.1,24.6-37.5,47.3-37.5h70.9c22.7,0,42.1,15.4,47.3,37.5l4.1,17.8
      c1.3,5.5,6.2,9.5,11.9,9.5H433c17.9,0,32.4,14.5,32.4,32.4v216.2c0,19.5-15.8,35.3-35.3,35.3H59.8c-19.5,0-35.3-15.8-35.3-35.3
      v-216.2c0-17.9,14.5-32.4,32.4-32.4H146.2z"/>
    <circle cx="82.9" cy="187.75" r="16.4"/>
    <path d="M245,380.95c56.7,0,102.9-46.2,102.9-102.9s-46.2-102.9-102.9-102.9s-102.9,46.1-102.9,102.9S188.3,380.95,245,380.95z
       M245,199.65c43.2,0,78.4,35.2,78.4,78.4s-35.2,78.4-78.4,78.4s-78.4-35.2-78.4-78.4S201.8,199.65,245,199.65z"/>
  </g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
<svg version="1.1" id="marker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<circle style="fill:#5ED1B3;" cx="256" cy="256" r="256"/>
<path style="fill:#4BC2A2;" d="M511.583,270.457C504.085,405.11,392.532,512,256,512c-1.256,0-2.501-0.028-3.746-0.044
  L96.791,356.492l320.108-175.239L511.583,270.457z"/>
<polygon style="fill:#EAEAED;" points="214.286,151.25 297.714,151.25 324.972,192.008 324.972,192.014 187.034,192.014
  187.034,192.008 "/>
<path style="fill:#F8F8F8;" d="M107.69,175.189h296.614c8.893,0,16.163,7.276,16.163,16.169v153.229
  c0,8.888-7.27,16.163-16.163,16.163H107.69c-8.888,0-16.158-7.276-16.158-16.163V191.358
  C91.533,182.465,98.803,175.189,107.69,175.189z"/>
<ellipse style="fill:#EAEAED;" cx="270.374" cy="272.119" rx="75.675" ry="75.681"/>
<polygon style="fill:#FF8C8A;" points="420.467,226.53 420.467,305.251 91.533,305.251 91.533,226.53 "/>
<path style="fill:#FA7876;" d="M338.434,305.251H202.319c-4.88-10.01-7.62-21.249-7.62-33.132c0-17.119,5.686-32.91,15.268-45.588
  H330.78c9.582,12.678,15.274,28.469,15.274,45.588C346.054,284.002,343.308,295.241,338.434,305.251z"/>
<ellipse style="fill:#99959C;" cx="256" cy="265.894" rx="75.675" ry="75.681"/>
<circle style="fill:#68606E;" cx="256" cy="265.894" r="63.086"/>
<circle style="fill:#8C95C9;" cx="256" cy="265.894" r="55.16"/>
<path style="fill:#817C85;" d="M346.532,159.676h38.785c4.063,0,7.387,3.324,7.387,7.392v8.121h-53.559v-8.121
  C339.145,163,342.469,159.676,346.532,159.676z"/>
<path style="fill:#FF8C8A;" d="M128.839,165.212h10.266c2.612,0,4.752,2.14,4.752,4.752v5.225h-19.771v-5.225
  C124.087,167.352,126.227,165.212,128.839,165.212z"/>
<path style="fill:#EAEAED;" d="M420.467,334.51v10.077c0,8.888-7.27,16.163-16.163,16.163H107.69
  c-8.888,0-16.158-7.276-16.158-16.163V334.51c0,8.893,7.27,16.169,16.158,16.169h296.614
  C413.197,350.679,420.467,343.403,420.467,334.51z"/>
<circle style="fill:#9EA7DB;" cx="253.771" cy="263.659" r="46.778"/>
<g>
  <circle style="fill:#B9BFE5;" cx="236.268" cy="245.234" r="18.514"/>
  <circle style="fill:#B9BFE5;" cx="280.606" cy="297.414" r="7.837"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


