<div class="container">
  <div class="row middle">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h1>Dashboard</h1>

      <h1>Renting</h1>

      <h2>My Bookings</h2>
      <% @my_bookings.each do |booking| %>
        <%= render :partial => 'my_bookings', locals: {booking: booking} %>
      <% end %>
      <!-- Headings maybe should be more defined RENTING AND LENDING -->
      <h1>Lending</h1>

      <h2>Lenses</h2>
      <!-- Show only lenses that haven't been booked -->
      <% @my_lenses.each do |lense| %>
        <%= render :partial => 'my_lenses', locals: {lense: lense} %>
      <% end %>
      <h2>Reserved Lenses</h2>
      <!-- If condition to show only bookings -->
      <% @reserved_lenses.each do |lense| %>
        <%= render :partial => 'my_lenses', locals: {lense: lense} %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user.email == 'jay.gao@139.com' %>
  <h2><%= link_to "Super Function", super_path %></h2>
<% end %>
