<h1>Be a pro photographer (some tagline...)</h1>
<h2>What we do (headline)</h2>
<p>lensoff lets you rent cool professional lenses for only a franction of their price... and some other stuff here...</p>
<h2>How to rent a lens?</h2>
<img src="http://via.placeholder.com/300x300" alt="">
<p>Select your camera type...</p>
<img src="http://via.placeholder.com/300x300" alt="">
<p>...select your lens...</p>
<img src="http://via.placeholder.com/300x300" alt="">
<p>... tadaaa! DONE! As simple as that.</p>

<%= link_to "Browse Lenses", lenses_path %>

