footer {
  background: #225560;
  padding: 30px 0;
  color: $a-hover-underline;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
}
#footer p {
  margin-top: 17px;
}
#footer ul {
  margin-top: 10px;
}
#footer a {
  color: $a-hover-underline;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
}
#footer a:hover{
  color: #e8ff6f;
}
