#main
{
padding-bottom: 40px; /* this needs to be bigger than footer height*/
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 3rem;
  min-height: 100%;
}

.footer {
  position: absolute;
right: 0;
  left: 0;
  margin-top: 20px;
  padding: 2rem;
  background-color: #efefef;
  text-align: center;
}

// .footer
// {
// position: relative;
// margin-top: -40px; /* negative value of footer height */
// clear:both;
// text-align: center;
// vertical-align: middle;
// padding-top: 15px;
// bottom: 0;
// background-color: transparent !important;
// }

// footer {
//   margin: 0 auto;
//   color: $a-hover-underline;
// }

// #footer ul {
//   margin-top: 10px;
// }
// #footer a {
//   color: $a-hover-underline;
//   font-size: 30px;
//   letter-spacing: 20px;
//   transition: color 0.5s ease;
//   box-shadow: none;
// }
// #footer a:hover{
//   color: $bg-color;
// }


// .highlight {
//   &:hover{
//    color:$text-color;
//    transition: color 0.5s ease;
// }
// }
