footer {
  background: $bg-color;
  padding: 20px 0;
  color: $a-hover-underline;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

#footer ul {
  margin-top: 10px;
}
#footer a {
  color: $a-hover-underline;
  font-size: 30px;
  letter-spacing: 20px;
  transition: color 0.5s ease;
  box-shadow: none;
}
#footer a:hover{
  color: $text-color;
}


.highlight {
  padding-top: 20px;
  &:hover{
   color:$text-color;
   transition: color 0.5s ease;
}
}
