.btn-lens-primary {
  color: #2a2a2a;
  background-color: transparent;
  border-color: #2a2a2a;
  border: 1px solid #2a2a2a;
  font-weight: 300;
  box-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
  shadow-opacity: 0.3;
}

.btn-lens-primary-white {
  color: #fff !important;
  background-color: transparent;
  border-color: #fff;
  border: 1px solid #fff;
  font-weight: 300 !important;
  box-shadow: 1px 1px 1px #fff;
  shadow-opacity: 0.3;
  text-decoration: none;
}

// Overiding bootstrap variables for button
.btn-lens {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.2;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lens-primary:hover, .btn-lens-primary:active {
  color: #225560;
  border-color: #225560;
  box-shadow: none;
}


.btn-lens-primary-white:hover, .btn-lens-primary-white:active {
  border-color: #D64345;
  duration: 0.3s;
  box-shadow: none;
}
