.card:hover {
 box-shadow: 0 0 7px 1px #eceaea;
 transform: scale(1.02);
}

.center {
  margin: 0 auto;
}

// .card {
//   margin-bottom: 20px;

// }

.thumbnail {
  min-height: 300px;
}

.pad-bot-20 {
  padding: 5px;
  padding-bottom: 10px;
}

.vertical-align {
  vertical-align: middle;
}
