// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "vendor/index";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";


html {
  position: relative;
  min-height: 100%;
}

body {
  font-weight: 300;
  margin: 0;
  margin-bottom: 150px;
}

.wrapper {
  width: 750px;
  margin: auto;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.no-text-decoration {
  text-decoration: none;
  color: $gray;
}

#uppercase {
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.padding-top-20 {
  padding-top: 20px;
}

.header-title{
  padding: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-bigger {
  font-size: 20px;
}


a, a:active, a:visited {
  color: $text-color;
  font-weight: 400;
  box-shadow: inset 0 -10px 0 $a-underline;
}

a:hover {
  color: $text-color;
  font-weight: 400;
  box-shadow: inset 0 -10px 0 $a-hover-underline;
}

hr {
    margin-top: 0px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid rgba(64, 78, 92, 0.13);
    width: 100%;
}

.alert {
  float: left;
  text-align: center;
}
